.App {
  text-align: center;
}

.temperature-in-range {
  background-color: #60ef06;
  color: black;
}

.temperature-not-in-range {
  background-color: #e20404;
  color: white;
}

.menu button {
  width: 200px;
  height: 8vh;
  border-radius: 40px;
  font-weight: bold;
  font-size: 3vh;
  transition: all .5s;
}

.menu button:hover {
  background-color: coral;
}
